


h1, h2, h3 {
    font-weight: 120;
    color:#a80d50;

}

p {
    font-weight: 150;
    
}

#sidenav-icon {
    padding-top: 20px;     
}

.adobe-img {
    padding: 20px 0 20px;
}

.adobe-link{
    color: #e57373;
}
.adobe-link-ads {
    color: #e57373;
    font-weight: 200;
    font-size: smaller;
}

.adobe-contents {
    position: fixed;
}
